.popup-container-edit {
  z-index: 1;
  display: flex;
  width: 230px;
  height: 100px;
  background-color: white;
  position: absolute;
  margin-left: 310px;
  border-radius: 4px;
  box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px,
    rgb(101 119 134 / 15%) 0px 0px 3px 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 15px;
}

.delete-post {
  width: 100%;
  height: 50%;
  color: red;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px;
}

.span-post {
  margin: 10px;
}

.edit-post {
  width: 100%;
  height: 50%;
  color: #34a1f2;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px;
}

.delete-post:hover,
.edit-post:hover {
  filter: brightness(97%);
}

.svg-edit-post {
  width: 16px;
}
