.top-post-container {
  width: 100%;
  height: 55px;
  border-bottom: solid rgb(235, 238, 240) 1px;
  display: flex;
  align-items: center;
  font-weight: 900;
}

.container-post-status {
  border-bottom: solid rgb(235, 238, 240) 1px;
  background-color: white;
  transition: 0.2s;
  padding: 13px;
  overflow-wrap: break-word;
  font-size: 23px;
  display: flex;
  flex-direction: column;
}

.top-post-status {
  display: flex;
  justify-content: space-between;
}

.top-left-status {
  display: flex;
}

.pseudo-status-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.container-picture-post-status {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  margin: 10px auto 0;
}

.date-post-status {
  font-size: 17px;
  color: gray;
}

.separator-post-status {
  border-bottom: solid rgb(235, 238, 240) 1px;
  margin: 15px 0;
}

.list-like-retweet {
  margin: 10px 10;
  font-size: 15px;
}

.list-post-status {
  color: gray;
  margin: 0 15px 0 6px;
}

.list-post-status:hover {
  text-decoration: underline;
  cursor: pointer;
}

.svg-in-post-status {
  width: 18px;
  height: 18px;
}

.svg-container-status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.quote-tweet-post {
  border: solid rgb(210, 210, 210) 1px;
  border-radius: 15px;
  margin-top: 10px;
  width: 570px;
  font-size: 15px;
}

.quote-tweet-post:hover {
  background-color: rgba(148, 148, 148, 0.158);
  transition: 0.2s;
}

.quote-tweet-delete-post {
  border: solid rgb(238, 238, 238) 1px;
  border-radius: 15px;
  margin-top: 10px;
  width: 570px;
  padding: 12px;
  color: gray;
  background-color: rgb(247, 249, 250);
  font-size: 15px;
}
