.top-quote-container {
  display: flex;
  margin-bottom: 5px;
  padding: 10px 10px 0;
}

.profile-picture-quote {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.space-quote {
  width: 5px;
}

.tweet-message-quote {
  padding: 0 10px 5px;
}

.container-picture-post-quote {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  border-radius: 0% 0% 15px 15px;
  margin-top: 5px;
}

.container-quote {
  overflow: hidden;
}
