.popup-container-retweet {
  z-index: 1;
  display: flex;
  width: 230px;
  height: 100px;
  background-color: white;
  position: absolute;
  margin-left: 310px;
  border-radius: 4px;
  box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px,
    rgb(101 119 134 / 15%) 0px 0px 3px 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.quote-tweet {
  width: 100%;
  height: 50%;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px;
}

.span-post {
  margin: 10px;
}

.retweet-post {
  width: 100%;
  height: 50%;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px;
}

.quote-tweet:hover,
.retweet-post:hover {
  filter: brightness(97%);
}

.retweeted-post {
  width: 15px;
  height: 15px;
  color: rgba(55, 191, 98);
}
