.top-home-container {
  width: 100%;
  height: 55px;
  border-bottom: solid rgb(235, 238, 240) 1px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.input-post {
  width: 100%;
  height: auto;
  border-bottom: solid rgb(235, 238, 240) 1px;
  padding: 10px;
}

.line-separator {
  width: 100%;
  height: 10px;
  background-color: #f7f9fa;
  border-bottom: solid rgb(235, 238, 240) 1px;
}

@media screen and (max-width: 485px) {
  .input-post {
    display: none;
  }
}
