.button-follow {
  margin-right: 10px;
  width: 80px;
  height: 35px;
  background-color: white;
  border: solid #34a1f2 1px;
  border-radius: 40px;
  color: #34a1f2;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}

.button-follow:hover {
  background-color: rgba(85, 172, 238, 0.1);
}

.button-unfollow {
  width: 140px;
  height: 35px;
  background-color: #ca2055;
  border-radius: 40px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}

.button-unfollow:hover {
  background-color: #c2154c;
}
