.popup-container-follow {
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(5%);
}

.follow-popup {
  width: 600px;
  height: 650px;
  border-radius: 20px;
  background: white;
  font-size: 15px;
  overflow: auto;
}

.top-popup-follow {
  height: 50px;
  border-bottom: solid rgba(0, 0, 0, 0.33) 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-popup {
  margin-left: 15px;
}

.cross-follow-popup {
  height: 35px;
  color: #468e49;
  cursor: pointer;
  margin-right: 15px;
}

.user-follow-container {
  position: relative;
  height: auto;
  /* border-bottom: solid rgb(235, 238, 240) 1px; */
  padding: 8px 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.user-follow-container:hover {
  background-color: rgba(244, 244, 244, 0.845);
  transition: 0.2s;
}

.info-follow {
  display: flex;
}

.profile-picture-follow-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.profile-picture-follow {
  object-fit: cover;
  width: 100%;
}

.container-name-follow {
  margin-left: 10px;
  font-size: 18px;
}

.pseudo-tweetname-follow {
  display: flex;
  flex-direction: column;
}

.bio-follow-container {
  width: 380px;
  margin: 5px 0;
}

@media screen and (max-width: 1270px) {
  .popup-container-follow {
    transform: translateX(15%);
  }
}

@media screen and (max-width: 1050px) {
  .popup-container-follow {
    transform: translateX(-5%);
  }
}

@media screen and (max-width: 670px) {
  .popup-container-follow {
    transform: translateX(-5%);
  }
  .follow-popup {
    width: 480px;
  }
  .bio-follow-container {
    width: 260px;
  }
}

@media screen and (max-width: 540px) {
  .popup-container-follow {
    transform: translateX(-5%);
  }
}

@media screen and (max-width: 485px) {
  .popup-container-follow {
    transform: translateX(0%);
  }
  .top-popup-follow {
    top: 0%;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 200;
  }
  .space-responsive-mobile {
    height: 50px;
  }
  .follow-popup {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .bio-follow-container {
    display: none;
  }
}
