.main-container {
  width: 600px;
  border-right: solid rgb(235, 238, 240) 1px;
  border-left: solid rgb(235, 238, 240) 1px;
  height: auto;
}

 /* @media screen and (max-width: 800px) {
  .main-container {
    width: 400px;
  }
} */