.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  left: 20%;
}

/* .top-container {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
} */

.svg-logo-twitter {
  height: 45px;
  padding: 3px;
}

.tab-navbar-container {
  display: flex;
  margin: 10px 0;
  padding: 12px 30px 12px 10px;
  width: min-content;
}

.svg-logo-twitter:hover,
.tab-navbar-container:hover {
  background-color: rgba(85, 172, 238, 0.1);
  color: #34a1f2;
  border-radius: 40px;
  cursor: pointer;
}

.svg-navbar {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.active-navbar {
  color: #34a1f2;
}

.button-navbar {
  width: 230px;
  height: 50px;
  margin: 10px 0;
  font-size: 17px;
  background-color: rgba(52, 161, 242);
  color: white;
}

.button-navbar:hover {
  background: rgba(52, 160, 242, 0.856);
}

.profil-navbar-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.profil-navbar-container:hover {
  background-color: rgba(85, 172, 238, 0.1);
  border-radius: 40px;
}

.left-profil-navbar-container {
  display: flex;
  justify-content: space-between;
}

.profile-picture-navbar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.svg-logout-navbar {
  cursor: pointer;
  width: 25px;
}

.svg-logout-navbar:hover {
  color: #34a1f2;
}

@media screen and (max-width: 1500px) {
  .navbar-container {
    left: 10%;
  }
}
