.navbar-right {
  position: fixed;
  height: 100%;
  top: 0;
  right: 14%;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.trending-container {
  width: 350px;
  height: 500px;
  background-color: rgb(247, 249, 250);
  border-radius: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
  .navbar-right {
    right: 2%;
  }
}
