.input-form input {
  padding-left: 8px;
  padding-top: 15px;
  font-size: 18px;
  color: #5b7083;
  width: 100%;
}

.input-effect {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
}
.input-effect:focus {
  width: 100%;
  border: 2px solid #34a1f2;
  transition: 0.1s;
}
.input-effect ~ label {
  position: absolute;
  font-size: 12px;
  left: 8px;
  top: 5px;
  color: #5b7083;
  transition: 0.2s;
  letter-spacing: 0.5px;
}
.input-effect:focus ~ label {
  color: #34a1f2;
  transition: 0.3s;
}

.button-submit-form {
  font-size: 16px;
  font-weight: 700;
  width: 540px;
  padding: 15px;
  background-color: #34a1f2;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.button-register {
  color: #34a1f2;
  font-size: 14px;
  cursor: pointer;
}

.button-register:hover {
  text-decoration: underline;
}
