.right-messages-conversation-container {
  height: 100%;
  width: 610px;
  display: flex;
  flex-direction: column;
}

.top-messages-conversation {
  height: 60px;
  width: 100%;
  border-bottom: solid rgb(199, 202, 205) 1px;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.profil-picture-top-conversation {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.top-conversation-name {
  display: flex;
}

.trash-svg-conversation {
  color: red;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.bottom-input-conversation {
  position: absolute;
  height: 50px;
  width: 610px;
  border-top: solid rgb(235, 238, 240) 1px;
  border-right: solid rgb(235, 238, 240) 1px;
  background-color: white;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input-message {
  width: 100%;
  height: 30px;
  border-radius: 40px;
  padding: 10px;
  font-size: 15px;
  background-color: rgb(237, 237, 237);
}

.input-message:focus {
  border: solid #34a1f2 1px;
  border-radius: 40px;
}

.messages-right-container {
  overflow: auto;
  height: 90%;
  margin-bottom: 55px;
  padding: 10px;
}

.list-messages-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message-user-date-container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5px;
}

.message-user-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-user {
  background-color: #34a1f2;
  color: white;
  font-size: 15px;
  border-radius: 15px 15px 0 15px;
  padding: 12px;
  width: max-content;
  max-width: 380px;
}

.message-friend-date-container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.message-friend-container {
  display: flex;
  flex-direction: column;
}

.message-friend {
  background-color: #ebeef0;
  font-size: 15px;
  border-radius: 15px 15px 15px 0;
  padding: 12px;
  width: max-content;
  max-width: 380px;
}

.date-message {
  font-size: 13px;
  color: #5b7083;
}

.picture-message-container {
  display: flex;
  align-items: center;
}

.svg-send-message {
  color: #34a1f2;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.button-chevron-send {
  background-color: transparent;
}
